* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./galaxy.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.orbit {
  width: var(--orbit-size);
  height: var(--orbit-size);
  border: white 1px dashed;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: orbit-animation var(--orbit-period) linear infinite;
}
.planet {
  width: var(--planet-size);
  height: var(--planet-size);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-image: var(--background-image);
  left: 45%;
  animation: animation var(--rotation-period) linear infinite;
}
.sun {
  width: var(--orbit-size);
  height: var(--orbit-size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sunn {
  width: var(--planet-size);
  height: var(--planet-size);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-image: var(--background-image);
}
@keyframes animation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes orbit-animation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
